.features-wrapper{
    background-color: #1b232d;
    border-bottom:12px solid #e8d7b6;
    padding:40px 60px;
}

.features{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:40px;
}

.feature-box{
    flex:1;
    display:flex;
    align-items:flex-start;
    gap:20px;
    color:#f2dfb5;
}

.feature-box img{
    width:70px;
    height:70px;
    object-fit:contain;
}

.feature-box h3{
    font-size:28px;
    margin-bottom:12px;
    color:#d8b15a;
    font-family:serif;
}

.feature-box p{
    font-size:20px;
    line-height:1.7;
    color:#f3e6c7;
}

.divider{
    width:1px;
    height:170px;
    background:rgba(232,215,182,0.35);
}