.features{
    width:100%;
    background:#062347;
    padding:50px 60px;

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;

    border-top:1px solid rgba(255,255,255,0.2);
}

.feature-box{
    display:flex;
    align-items:flex-start;
    gap:20px;

    color:#f6ead7;
}

.icon{
    font-size:35px;
}

.feature-box h2{
    font-size:24px;
    margin-bottom:10px;
    color:#e0b96d;
    font-family:serif;
}

.feature-box p{
    line-height:28px;
    color:#f3e6d2;
}

/* Responsive */

@media(max-width:1000px){

    .features{
        grid-template-columns:repeat(2,1fr);
    }

}

@media(max-width:768px){

    .features{
        grid-template-columns:1fr;
        padding:50px 20px;
    }

}