.footer{
    background:#efe3cf;
    padding-top:40px;
    overflow:hidden;
}

.footer-content{
    display:flex;
    justify-content:space-between;
    gap:70px;
    padding: 0 70px 10px;
}

.footer-left{
    text-align:center;
    width: 370px;
}
.footer-center,
.footer-right{
    flex:1;
}

.footer-center,
.footer-right{
    border-left:1px solid rgba(0,0,0,0.2);
    padding-left:50px;
}

.footer-logo{
    width:110px;
    height: auto;
    margin:46px auto 4px;
    display:block;
}

.footer-left h2{
    font-size:42px;
    font-weight: 80;
    letter-spacing:3px;
    color:#8b1e1e;
    font-family:"Cormorant Garamond", serif;
    margin-bottom:12px;
}

.footer-left p{
    font-size:15px;
    color:#3a2a20;
    letter-spacing:3px;
}

.footer-center h3,
.footer-right h3{
    font-size:22px;
    margin-bottom:30px;
    color:#111;
    font-family:serif;
}

.footer-center{
    display:flex;
    flex-direction:column;
}

.footer-center a{
    text-decoration:none;
    color:#222;
    font-size:18px;
    margin-bottom:20px;
    transition:0.3s;
}

.footer-center a:hover{
    color:#8b1e1e;
}

.footer-right p{
    font-size:17px;
    line-height:1.7;
    margin-bottom:22px;
    color:#222;
}

.newsletter-box input{
    width:100%;
    padding:14px 22px;
    border:none;
    border-radius:40px;
    background:#0f2239;
    color:white;
    font-size:16px;
    outline:none;
}

.newsletter-box input::placeholder{
    color:#f1e5c7;
}

.footer-border{
 transform: rotate(180deg);
    width:100%;
    height:50px;
    background-repeat:repeat-x;
    background-size:contain;
    margin-top:20px;
}